@tailwind base;
@tailwind components;
@tailwind utilities;


/* تنسيق شريط التمرير للداشبورد */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; /* لون رمادي داكن */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4ade80; /* لون أخضر فاقع عند لمسه */
}